/.vs
/P2PManagedClientB/bin/
/P2PManagedClientB/obj/
/P2PManagedClientB/P2PManagedClientB.csproj.user
/P2PNativeClientA/P2PNativeClientA.vcxproj.user
/P2PNativeClientA/x64/
/P2PServer/P2PServer.vcxproj.user
/P2PServer/x64/
/x64/
/P2PManagedClientB.Tests/bin/
/P2PManagedClientB.Tests/obj/
/P2PNativeClientA.Tests/P2PNativeClientA.Tests.vcxproj.user
/P2PNativeClientA.Tests/x64/
/P2PServer.Tests/P2PServer.Tests.vcxproj.user
/P2PServer.Tests/x64/
/packages/
/P2PUIClient/x64/
/P2PService/P2PService.vcxproj.user
/P2PService/x64/
/P2PService.Tests/P2PService.Tests.vcxproj.user
/P2PService.Tests/x64/
/P2PUIClient.Tests/P2PUIClient.Tests.vcxproj.user
/P2PUIClient.Tests/x64/
